:root {
    background: #fff;
  }
  
  span#procent {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    margin: 0 0 35px;
    padding: 0 0 25px;
    color: #2f7de1;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #efefef;
  }
  
  span#Single {

    font-size: 50px;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    margin: 0 0 35px;
    padding: 0 0 25px;
    color: #2f7de1;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid #efefef;
  }
  span#procent::after {
    content: '    Viajes';
    color: black;
    text-align: left;
    font-weight: 400;
    padding-top: 65px;
    text-align: center;
  }
  
  .canvas-wrap {
    position: relative;
    width: 300px;
    height: 300px;
  }














  
  

  